node_modules
dist
.git
.gitignore
.env
.env.*
*.md
.angular
.turbo
.vscode
docker-compose*.yml
Dockerfile*
android
ios
electron-main.js
preload.js
capacitor.config.ts
test
coverage
*.log
.prettierrc
.eslintrc*
uploads
